@require '../../../styles/base';

.main {
  grid-gap(1rem);
  grid-template-columns(50%, auto);
  overflow: hidden;
}

#settings {
  grid-area(1, 1, 2, 3);
}

#cancel {
  grid-area(2, 1, 3, 2);
}

#save {
  grid-area(2, 2, 3, 3);
}
