@require './theme';

.multiselect__select {
  &:hover {
    color: main_fg_light;

    + .multiselect__tags {
      background-color: input_bg_light;
      color: main_fg_light;
    }
  }
}

.multiselect__input {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
}

.multiselect__single {
    background-color: input_bg;
    border: 1px solid input_border;
    border-radius: 4px;
    padding: 0.5rem;

    &:hover {
      background-color: input_bg_light;
      color: main_fg_light;
    }
}

.multiselect__option {
  background-color: input_bg;
  cursor: default;
}

.multiselect__tags {
  background-color: input_bg;
  border-color: input_border;

  &:hover {
    background-color: input_bg_light;
    color: main_fg_light;
  }
}

.multiselect__placeholder {
  color: placeholder_fg;
}

.multiselect__content-wrapper {
  border-color: input_border;
}

.multiselect__spinner {
  &::before,
  &::after {
    border-color: input_bg transparent transparent;
  }
}

.multiselect__tag {
  background-color: accent;

  span {
    color: input_bg;
  }
}

.multiselect__option--highlight {
  background-color: accent;

  span {
    color: input_bg;
  }

  &::after {
    background-color: accent;
    color: input_bg;
  }
}

.multiselect__tag-icon {
  &::after {
    color: accent_dark;
  }

  &:focus,
  &:hover {
    background: accent_dark;

    &::after {
      color: input_bg;
    }
  }
}
