main_bg = #222222;

main_fg = #dddddd;
main_fg_light = #eaeaea;

input_bg = #333333;
input_bg_light = #383838;

input_border = #111111;
input_border_light = #282828;

accent = #ff8c00;
accent_dark = #bb6700;

placeholder_fg = #808080;
