$main-bg: #222222;

$main-fg: #dddddd;
$main-fg-light: #eaeaea;

$input-bg: #333333;
$input-bg-light: #383838;

$input-border: #111111;
$input-border-light: #282828;

$accent: #ff8c00;
$accent-dark: #bb6700;

$placeholder-fg: #808080;
