@use '~vuetify/src/styles/main.sass' as *;

$background: map-get($material-dark, 'background');

$scrollbar-background: map-get($material-dark-elevation-colors, '12');
$scrollbar-background-hover: map-get($material-dark-elevation-colors, '24');
$scrollbar-border: map-get($material-dark-elevation-colors, '1');
